.split {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    height: 100vh; 
    text-align: center;
  }
  .left,.right 
  {
    padding: 20px;
  }
.left
{
    background-color: rgb(63, 168, 130);
    border: 3px solid   rgb(63, 168, 130);
}
.right
{
    background-color: white;
}
.leftdown
{
    position: absolute;
    background-color: rgb(165, 165, 168);
    width: 33%;
    height: 120px;
    top: 500px;
    
}
.h1
{
    color: rgb(232, 232, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rside
{
    color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif
}
div b
{
    color: rgb(130, 130, 130);
}
.box
{
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    opacity: 40%;
}
button
{
    width: 66%;
    margin: 10px;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(63, 168, 130);
    color: white;
}
.img
{
    width: 50px;
    cursor: pointer;
}
.img1
{
    width:30px;
    cursor: pointer;
}
.img2
{
    width:60px;

}
